body
{
background-color:#fafbff;
margin:0 auto;
padding:0px;
font-size:9pt;
}

#header {


	font-size: 18pt;
	text-shadow: #ccc 1px 1px 3px;
	
	border-radius: 6px;
	padding: 3px;
	margin-bottom: 10px;
	background-color: #eaeeff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f4f9ff), color-stop(1, #e5ecf9));
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0, #fff), color-stop(0.48, hsl(217, 73%, 97%)), color-stop(0.51, hsl(217, 62%, 95%)));
	-webkit-box-shadow: 0px 1px 2px #ddd;
	
	top:20px;
}
.maintable{
border:solid 1px #abc ;
}

h1
{
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:40px;


 top:20px;
 
}

#mainer{

	position:relative;
	top: 10px;
	border:solid 1px #abc ;
	
	
	
}
.rulesTable {
border-spacing: 0px;
-webkit-box-shadow: 0px 0px 2px #ddd;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
.rulesTable th {
height:30px;
background-color:#999999;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e5ecf9), color-stop(1, #C0D9D9));
background: -webkit-gradient(linear, left top, left bottom, olor-stop(0, #fff), color-stop(0.48, hsl(217, 73%, 97%)), color-stop(0.51, hsl(217, 62%, 95%)));
border-left: solid 1px #e2e7e9;
border-bottom: solid 1px #d7dbe0;
font-weight: bold;
color: #6e809d;
white-space: nowrap;
overflow: hidden;
font-size:18px;
}
.rulesTable td{
background-color:#fff;
height:25px;
font-size:12px;

}
table {
border-collapse: separate;
border-spacing: 2px;
border-color: blue;
}
#tab1,#tab2,#tab3,#tab4{
background-color:#f8fafc;
border-top:solid 1px #abc ;

}
.templateRow {
display: none;
}
.newwebseq {
display: none;
}
.newcookieseq {
display: none;
}
.newwhiteseq {
display: none;
}
.webReqRow .webDelete, .cookieRow .cookieDelete, .whiteRow .whiteDelete {
background: url("../../img/delete.png") center no-repeat;
cursor: pointer;
height: 100%;
}
#newWebReqRow .webAdd, #newCookieRow .cookieAdd, #newWhiteRow .whiteAdd {
background: url("../../img/add.png") center no-repeat;
cursor: pointer;
height: 100%;
}
.button{
   width: 100px;
	min-width: 100px;
	color: #567;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	padding: 6px;
	border: solid 1px #abc;
	border-radius: 2px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f5fc), color-stop(1, #e0e9f4));
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0, #fff), color-stop(0.4, hsl(0, 0%, 96%)), color-stop(0.41, hsl(0, 0%, 92%)));
		
	-webkit-box-shadow: 0px 1px 2px #ddd;
	position:relative;
	margin-left:24.6px;
	}
.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6fafe), color-stop(1, #e3ebf7));
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0, #fff),  color-stop(0.4, hsl(215, 67%, 96%)), color-stop(0.41, hsl(213, 48%, 92%)));
}

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e9f4), color-stop(1, #f5f9f4));
}
*:focus{
outline:none;
}
li{
font-size:15px;

}

